
# Für alle Configurations-Dateien
*        @JakobFerdinand @thumer

# Für alles innerhalb des docs-Ordners
docs/    @NathalieBachinger @KarinGross93

# Für alles zum Thema FIBU Next
/docs/FIBUNext/   @NathalieBachinger @KarinGross93

# Für alles zum Thema HON Next
docs/HONNext/    @Klaraburgstaller